
{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Register</h1>
<div class="col" id="form-cont">
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('register') }}">
        {{ form.csrf_token }}
        <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class='form-control', placeholder="Enter your username") }}
        </div>
        <div class="form-group">
            {{form.password.label }}
            {{form.password(class="form-control", id="password")}}
        </div>
        <div class="form-group">
            {{form.first_name.label}}
            {{form.first_name(class="form-control", id="first_name")}}
            <!--<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
        </div>
        <div class="form-group">
            {{form.last_name.label}}
            {{form.last_name(class="form-control", id="last_name")}}
            <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
        </div>
        
        <div class="form-group">
            {{form.email.label}}
            {{form.email(class="form-control", id="email")}}
        </div>
        <div class="form-group">
            {{form.location.label}}
            {{form.location(class="form-control", id="location")}}
        </div>
        <div class="form-group">
            {{form.biography.label}}
            {{form.biography(class="form-control", id="biography" )}}
        </div>
        <div class="form-group">
            {{form.profile_photo.label}}
            {{form.profile_photo(class="form-control", id="photo")}}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}